body {
  text-align: center;
  font-family: 'Assistant', sans-serif;
  background-image: url(images/stars.jpg);
  color: white;
}

h2 {
  height: 3rem;
  color: white;
}

#ball {
  width: 28rem;
  height: 28rem;
  background-color: black;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: radial-gradient(circle at 100px 100px, #2B2C33, #000);
  border: 1px solid #363636;
}

#window {
  width: 12rem;
  height: 12rem;
  background-color: #101E6E;
  color: white;
  border-radius: 50%;
  margin: 0 auto;
  border: 5px solid grey;
  display: flex;
  align-items: center;
}

#triangle {
  height: 8rem;
  width: 8rem;
  background-color: #324DE6;
  margin: 0 auto;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  position: relative;
  top: .75rem;
  text-align: center;
  color: white;
  font-size: 1.25rem;
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: 1rem;
}

#question {
  height: 2rem;
  width: 15rem;
  font-size: 2rem;
}

#submit {
  font-size: 2rem;
}
